main
    width: 100%
    height: 100%
    #about
        padding-top: 100px
        padding-bottom: 100px 
        height: 100%
        width: 100%
        position: relative
        display: flex
        justify-content: center
        align-items: center
        .aboutContainer
            width: 95%
            height: 100%
            display: flex
            justify-content: space-around
            align-items: center
            #aboutL
                width: max-content
                height: 500px
            #aboutR
                height: max-content
                width: 40%
                display: flex
                justify-content: center
                align-items: center
                #bgabout
                    border: 5px solid rgb(59,57,56,50%)
                    width: 650px
                    height: 500px
                    background-image: url(./../../src/img/about.jpg)
                    background-size: cover
                    background-repeat: no-repeat
                    display: flex
                    justify-content: center
                    align-items: center
                    #corner
                        width: 97%
                        height: 97%
                        position: relative
                        &:before
                            display: block
                            content: ""
                            width: 70px
                            height: 70px
                            position: absolute
                            top: 15px
                            left: 15px
                            border-top: 5px solid #cda45d
                            border-left: 5px solid #cda45d
                        &:after
                            display: block
                            content: ""
                            width: 70px
                            height: 70px
                            position: absolute
                            bottom: 15px
                            right: 15px
                            border-bottom: 5px solid #cda45d
                            border-right: 5px solid #cda45d
                    &:hover
                        #corner
                            transition: 1s ease
                            width: 100%
                            height: 100%
                        transition: 1s all ease
                        transform: scale(1.08)                                                   
    #whyUs
        background-color: #0b0b09
        height: 70%
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        #whyUsTop
            width: 80%
            height: 30%
            p
                color: white
                position: relative
                opacity: 0.5
                &::after
                    width: 5%
                    margin-top: 10px
                    display: inline-block
                    content: ""
                    position: absolute
                    border: 1px white solid
                    opacity: 0.5
        #whyUsBottom
            width: 80%            
            display: flex
            justify-content: space-between
            .boxs
                background-color: #1a1814
                height: 250px
                width: 390px
                display: flex
                padding: 15px
                flex-direction: column
                justify-content: end
                div
                    h1
                        color: #cda45d
                    p
                        color: white
                &:hover
                    background-color: #cda45d
                    transition: 1s ease all
                    h1
                        color: white
                    .whyUstxt
                        transition: 1s ease all 
                        transform: translateY(-10px)
    #events        
        padding-top: 100px
        padding-bottom: 100px 
        height: 100%
        width: 100%
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        &::before
            height: 100%
            width: 100%
            content: ""
            z-index: -1
            position: absolute
            background-image: url(./../../src/img/events-bg.jpg)
            background-size: cover
            background-attachment: fixed
            background-repeat: no-repeat
            background-position: top
            filter: brightness(50%)
        #eventTop
            width: 80%
            height: 15%
            p
                color: white 
                opacity: 0.5
                &::after
                    width: 5%
                    margin-top: 10px
                    display: inline-block
                    content: ""
                    position: absolute
                    border: 1px white solid
                    opacity: 0.5
        #eventBottom
            width: 80%
            height: 85%
            padding-top: 20px
            #carouselExampleSlidesOnly
                h3
                    color: white
                    text-decoration: underline
                    text-decoration-color: #cda45d 
    #reservation
        width: 100%
        height: 70%
        background-color: #0b0b09
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        
        #resTop
            width: 80%
            height: 20%
            p
                color: white 
                opacity: 0.5
                &::after
                    width: 5%
                    margin-top: 10px
                    display: inline-block
                    content: ""
                    position: absolute
                    border: 1px white solid
                    opacity: 0.5
        #resBottom
            width: 80%
            height: 80%
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            justify-content: space-around
            div
                width: 100%
                height: 10%
                display: flex
                justify-content: space-between
                input
                    width: 33%
                    height: 100%
                    color:  white
                    background-color: #0b0b09
                    border: rgb(205, 164, 93, 30%) 1px solid
                    &::placeholder
                        color: #cda45d
                        opacity: 0.5
                    &::-webkit-outer-spin-button
                        -webkit-appearance: none
                        margin: 0
                    &::-webkit-inner-spin-button
                        -webkit-appearance: none
                        margin: 0
                        
                         
            textarea
                background-color:#0b0b09
                color: #cda45d
                border: rgb(205, 164, 93, 30%) 1px solid
                resize: none
                width: 100%
                height: 50%
                &::placeholder
                    color: #cda45d
                    opacity: 0.5

            
                    







            



    #about::before
        height: 100%
        width: 100%
        content: ""
        z-index: -1
        position: absolute
        background-image: url(./../../src/img/about-bg.jpg)
        background-size: cover
        background-attachment: fixed
        background-repeat: no-repeat
        background-position: top
        filter: brightness(20%)